* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#d0e9f1, #9abcc7);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
